body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/* .menu-item{
  padding-left: 500px;
} */


.btn {
  flex: 1 1 auto;
  /* margin: 10px; */
  /* padding: 30px; */
  text-align: center;
  text-transform: uppercase;
  transition: 0.7s;
  background-size: 200% auto;
  color: white;
 /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  background-image: linear-gradient(to right, #a60fe6 0%, #eea6bf 51%, #eea1e4 100%);
  margin-left: 5vw;
  margin-bottom: 20px;
 }

 .btn:hover {
  background-position: right center; /* change the direction of the change here */
}

.btn2{
  background-image: linear-gradient(to right, #57037b 0%, #4b0164 51%, #0b03fd 100%);
}

.mainbody{
  padding-left: 15vw;
  max-width: 90vw;
}


.titlee {

  font-family: Poppins,sans-serif;
  font-weight: 700;
  background: -webkit-linear-gradient(#3543a0, rgb(102, 1, 136));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* padding-left: 10vw; */
  padding-top: 10vh;
  max-width: 60vw;
  padding-bottom: 10vh;
}



h1{
  font-size: 3.4em;
}

.row{
  padding-bottom: 40px;
}

.centerr{
  text-align: center;
}

.mentorimg img{
  max-width: 150px;
  border-radius: 50%;
}

.advisorimg img{
  max-width: 250px;
  border-radius: 50%;
}

/* .messageButton{
  background: linear-gradient(90deg, #FFFF00 6%, #FFA500 25%, #F14444 45%, #D53567 55%, #9A109A 94%);

} */




.btncontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.messagebtn {
  padding: 20px 60px;
  border: none;
  outline: none;
  position: relative;
  z-index: 1;
  border-radius: 5px;
  background: linear-gradient(to right, #00FFA3, #DC1FFF);
  cursor: pointer;
}
.messagebtn::before {
  content: "";
  position: absolute;
  left: 1px;
  right: 1px;
  top: 1px;
  bottom: 1px;
  border-radius: 4px;
  background-color: white;
  z-index: -1;
  transition: 200ms
}
.messagebtn::after {
  content: attr(data);
  font-size: 16px;
  background: linear-gradient(to left, #00FFA3, #DC1FFF);
  -webkit-background-clip: text;
  color: transparent;
  transition: 200ms
}
.messagebtn:hover::before {
  opacity: 50%;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.messagebtn:hover::after{
  color: white;
}







@media only screen and (max-width: 450px) {

  .titlee{
    max-width: 80vw;
  }

  .mentorimg img{
    max-width: 90px;

  }

  .advisorimg img{
    max-width: 150px;
    border-radius: 50%;
  }

  .mainbody{
    padding-left: 7vw;
    max-width: 95vw;
  }
  h1{
    font-size: 2.9em;
  }
}